/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

/* ========== Container ========== */
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ========== Header ========== */
body {
  color: #fff;
}

/* ========== Links ========== */
a {
  color: inherit;
}

/* ========== Buttons ========== */
.btn {
  background-color: orange;
}

/* ========== Header ========== */
header {
  background: url("../img/bc-img.jpg") center no-repeat;
  background-size: cover;
}

/* ========== Header Container ========== */
.header-container {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*Box model stuff*/
  height: 100%;
}

/* ========== Menu ========== */
.menu {
  padding: 15px 0;
}

.menu-list {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Miscellaneous*/
  gap: 0 20px;
}

.menu-link {
  /*Typography stuff*/
  font-weight: 500;
  /*Miscellaneous*/
  letter-spacing: 0.5px;
}

/* ========== Header Intro ========== */
.header-intro {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*Box model stuff*/
  max-width: 850px;
  padding-bottom: 200px;
  padding-top: 200px;
  /*Miscellaneous*/
  gap: 10px 0;
}

.header-slogan span {
  display: block;
}

.header-btn {
  padding: 10px 30px;
}

/* ========== Section Card ========== */
.card {
  height: 100vh;
}

.card__list {
  /*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /*Box model stuff*/
  padding: 20px 0;
  /*Typography stuff*/
  color: #000;
  /*Miscellaneous*/
  gap: 40px;
}

.card__item {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*Box model stuff*/
  width: calc((1200px - 80px) / 3);
  min-height: 160px;
  padding: 20px;
  background-color: #c4c4c480;
  /*Miscellaneous*/
  overflow: hidden;
  gap: 20px 0px;
}

.card__link {
  font-weight: 600;
}
